// src/app/pages/cajero/cajero.component.scss

.cajero-layout {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;

  .content {
    flex: 1;
    margin-left: 260px;
    min-height: 100vh;
    overflow-y: auto;
    padding: 24px;
  }
}
