// src/app/pages/admin/admin.component.scss

.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;

  .content {
    flex: 1;
    margin-left: 260px; // Ancho del sidebar
    min-height: 100vh;
    overflow-y: auto;
  }
}
